In [2]:
import pandas as pd

In [5]:
data1 = {
    'Store': ['A', 'A', 'B', 'B'],
    'Product': ['Apple', 'Banana', 'Apple', 'Banana'],
    'Quantity': [10, 5, 8, 12]
}
df = pd.DataFrame(data)
df

  Store Product  Quantity
0     A   Apple        10
1     A  Banana         5
2     B   Apple         8
3     B  Banana        12

In [7]:

grouped = df.groupby('Store')['Quantity'].sum()
grouped

Store
A    15
B    20
Name: Quantity, dtype: int64

In [10]:


data = {
    'Store': ['A', 'A', 'B', 'B', 'C', 'C', 'A', 'B'],
    'Product': ['Apple', 'Banana', 'Apple', 'Banana', 'Apple', 'Banana', 'Apple', 'Banana'],
    'Quantity': [10, 5, 8, 12, 15, 7, 5, 3],
    'Price': [1.2, 0.5, 1.2, 0.5, 1.2, 0.5, 1.2, 0.5]
}

df = pd.DataFrame(data)
print(df)

  Store Product  Quantity  Price
0     A   Apple        10    1.2
1     A  Banana         5    0.5
2     B   Apple         8    1.2
3     B  Banana        12    0.5
4     C   Apple        15    1.2
5     C  Banana         7    0.5
6     A   Apple         5    1.2
7     B  Banana         3    0.5

In [16]:
# Group by store and calculate total quantity sold per store
group_by_store= df.groupby('Store')['Quantity'].sum()
group_by_store

Store
A    20
B    23
C    22
Name: Quantity, dtype: int64

In [21]:
#Group by Product and calculate average Price per Product.
grp_by_product= df.groupby("Product")["Price"].mean()
grp_by_product

Product
Apple     1.2
Banana    0.5
Name: Price, dtype: float64

In [25]:
#Group by Store and Product, then calculate the total Quantity
#sold for each Store-Product pair.
grp_by_product = df.groupby(["Product", "Store"])["Quantity"].sum()
grp_by_product

Product  Store
Apple    A        15
         B         8
         C        15
Banana   A         5
         B        15
         C         7
Name: Quantity, dtype: int64

In [31]:
#Add a new column called Revenue = Quantity * Price, 
#then group by Store to get total Revenue per Store.
df["Revenue"]=df["Quantity"]*df["Price"]
df

  Store Product  Quantity  Price  Revenue
0     A   Apple        10    1.2     12.0
1     A  Banana         5    0.5      2.5
2     B   Apple         8    1.2      9.6
3     B  Banana        12    0.5      6.0
4     C   Apple        15    1.2     18.0
5     C  Banana         7    0.5      3.5
6     A   Apple         5    1.2      6.0
7     B  Banana         3    0.5      1.5

In [35]:
grp_by_store= df.groupby("Store")["Revenue"].sum()
grp_by_store

Store
A    20.5
B    17.1
C    21.5
Name: Revenue, dtype: float64

In [42]:
# group by store and calculate total quantity, average price, and number of sales
result = df.groupby('Store').agg({ # Lets us specify different aggregation functions for different columns
    'Quantity': 'sum',     # total quantity
    'Price': 'mean',       # average price
    'Product': 'count'     # number of sales
})
result

       Quantity     Price  Product
Store
A            20  0.966667        3
B            23  0.733333        3
C            22  0.850000        2